/* Basic Start */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #D9D9D9;
}

h1 {
  font-size: 3rem;
}

p {
  font-size: 1.6rem;
}
/* Basic End */

/* Main Container Start */
.main-container {
  width: 1000px;
  margin: auto;
  background: #2e2e2e;
  color: #fff;
}
/* Main Container End */

/* Sticky Header Start */
.header-container {
  position: sticky;
  top: 0;
  padding: 30px;
  background-color: #BF4F45;
}

.header-container h1 {
  text-align: center;
  color: #ffffff;
}
/* Sticky Header End */

/* Float Image Start */
.float-container {
  margin: auto;
  padding: 30px 30px 0 30px;
}

.float-image {
  width: 400px;
  float: left;
  padding-right: 20px;
}

.float-container p {
  text-align: justify;
  padding-bottom: 20px;
}
/* Float Image End */

/* Float Button Start */
.float-button-left {
  width: 40%;
  margin: 25px 0 20px 7%;
  float: left;
  text-align: center;
}

.float-button-right {
  width: 40%;
  margin: 25px 7% 20px 0;
  float: right;
  text-align: center;
}

.float-container button {
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 2rem;
  text-transform: uppercase;
  background-color: transparent;
  border: 4px solid #fff;
  color: #fff;
  transition: .5s ease-in-out;
}

.float-container button:hover {
  background-color: #d3d3d3;
  border: 4px solid #9c3127;
  color: #290b0b;
}

.button-margin {
  margin-bottom: 50px;
}
/* Float Button End */

/* Flexbox Start */
.cleared {
  clear: both;
}

.flex-container {
  padding: 100px 0 100px 0;
  text-align: center;
  color: #fff;
  background-image: url("/img/gate.jpg");
  background-position: center;
  background-size: cover;
}

.flex-background {
  background-color: #0000009a;
  border: 5px solid #fff;
  margin: 0 330px 0 330px;
  padding: 30px 0 30px 0;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  align-items: center;
}

.flex-container h1 {
  margin-bottom: 20px;
}

label, input {
  font-size: 2rem;
}

label {
  margin-bottom: -18px;
}

input {
  background-color: transparent;
  border: 3px solid #fff;
  color: #fff;
  text-align: left;
  line-height: 1.8;
  padding-left: 8px;
  width: 200px;
}

.flex-container button {
  font-size: 2rem;
  padding: 8px 15px 8px 15px;
  background-color: transparent;
  border: 3px solid #fff;
  color: #fff;
}
/* Flexbox End */

/* Grid Start */
.grid-container {
  display: grid;
  grid-template-rows: 70px 70px 70px 70px 70px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  padding: 20px;
  gap: 20px;
}

.grid:nth-child(1) {
  background-color: #af2222;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 6;
}
.grid:nth-child(2) {
  background-color: #f2eddc;
  grid-row-start: 2;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 3;
}
.grid:nth-child(3) {
  background-color: #85071e;
  grid-row-start: 5;
  grid-row-end: 6;
  grid-column-start: 1;
  grid-column-end: 6;
}
.grid:nth-child(4) {
  background-color: #a5a297;
  grid-row-start: 2;
  grid-row-end: 5;
  grid-column-start: 3;
  grid-column-end: 6;
}
/* Grid End */